body,
html {
  padding: 0;
  margin: 0
}

body {
  height: 100vh;
  overflow: hidden;
}

#motionPath {
  overflow: visible;
  height: 100%;
  max-width: 100%;
}

#motionPath path {
  stroke-width: 2;
  stroke: gray;
}

#motionPath .astronaut {
  visibility: hidden;
}