div.anim {
    width: 20px;
    height: 20px;
    background-color: rgb(232, 62, 19);
    position: absolute;
    border-radius: 9px;
}

img {
    position: absolute;
}


div.anim.amino {
    background-color: rgb(191, 191, 32);
    border-radius: 10px;
}

div.anim.protein {
    background-color: rgb(194, 34, 164);
    border-radius: 5px;
}

div.anim.fiber {
    background-color: rgb(20, 197, 156);
    border-radius: 2px;
    rotate: 20;
}

div.btns {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 10px;
}

.btn {
    background-color: rgb(155, 212, 22);
}

/**
protein,amino acid,fiber,starch,glucose,oxygen,carbon dioxide,water 
*/