div.anim {
    width: 20px;
    height: 20px;
    background-color: bisque;
    position: absolute;
    border-radius: 20px;
}

img {
    position: absolute;
}

.btns {
    right: 10px;
    position: absolute;
    top: 20px;
}

div.anim.amino {
    background-color: rgb(191, 191, 32);
    border-radius: 10px;
}

div.anim.protein {
    background-color: rgb(194, 34, 164);
    border-radius: 5px;
}


.anim-container{
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.anim-container .img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
}
/**
protein,amino acid,fiber,starch,glucose,oxygen,carbon dioxide,water 
*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{ margin: 0; background: #ccc;}

.bottom-card{
  position: absolute;bottom: 0;left:50%; transform: translateX(-50%); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.bottom-card h4{ font-size: 12px; padding: 0 0 8px; margin: 0;}

.bottom-card-inner{
    background-color: #fafafa;
    border-radius:4px;
    padding: 16px;
    display: flex;
    gap:20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.card{
    border:1px solid #cecece;
    background: #ffffff;
    padding: 4px;
    width:70px;
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.disable{
  opacity: 0.5;
  background:#ebebeb;
}

.card-img{
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.card-img img{max-width: 25px;}
.card-title{
    font-size: 12px;
    background:#ebebeb;
    color:#000000;
    
    padding: 6px;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}


.right-card{
    position:fixed;
    right:0;
    top:0;
}
.right-card-inner{
    overflow: hidden;
    width: 250px;
    background-color: #ffffff;
    min-height: 100vh;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 20px;

}
.card-slide{
    white-space: nowrap;
    overflow: auto;
    margin:0 0 -15px; 
    padding:0 0 15px;
    display:flex;
    gap: 10px;
}
